<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('./includes/navigation.ejs') %>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h4>敬请期待</h4>
      </div><!-- /.jd-main -->

      <aside class="col-md-4 jd-sidebar">
        <%- include('./includes/sidebar.ejs') %>
      </aside><!-- /.jd-sidebar -->

    </div><!-- /.row -->

  </main>

  <%- include('./includes/end.ejs') %>