<nav class="navbar navbar-expand navbar-dark mai-top-header">
    <div class="container"><a class="navbar-brand" href="#"></a>
      <ul class="nav navbar-nav mai-top-nav">
        <li class="nav-item"><a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      </ul>
    </div>
  </nav>