<div class="p-4 mb-3 bg-white rounded">
    <h4 class="sidebar-box-title">关于我们</h4>
    <p class="sidebar-ad2 mb-0 rounded">
        我们是一群生活在多伦多的攻城狮，俗称IT狗。
        希望可以用我们一点点的技能，帮助更多的华人，能更容易找到工作！
        欢迎大家关注我们的公众号：我们一起学AI
        <img src="/img/sidebar/mp-code.jpg">
    </p>
</div><!-- /.top-ad -->
<!-- 
<div class="sidebar-ad2 mb-3 bg-white rounded">
    <img src="/img/sidebar/course-python.png">
</div> -->
<!-- /.top-ad2 -->

<!-- <div class="p-4 mb-3 bg-white rounded">
    <h5 class="sidebar-box-title">right</h4>
        <p class="mb-0">我们这这个区域，可以放我们的课程广告.</p>
</div>/.top-download -->
<div class="sidebar-share card col-sm-12 mb-3 p-4">
    <h4 class="sidebar-box-title">学习资料分享</h4>
    <a href="https://www.bilibili.com/video/BV14J411U7hj?from=search&seid=11212209970602085813" target="_blank">
        <div class="sidebar-course row no-gutters">
            <div class="col-md-3">
                <img src="/img/course/python.png" class="card-img" alt="python">
            </div>
            <div class="col-md-9">
                <div class="sidebar-course-body">
                    <h5 class="sidebar-course-title">Python教程6小时完全入门#2019版</h5>
                    <p class="course-text"><small class="text-muted">
                        看完视频，认真练习，就达到能开发网站的能力，几乎是目前最好的python教程。</small></p>
                </div>
            </div>
        </div>
    </a> <!-- /.share course #1 -->
    <a href="https://www.bilibili.com/video/BV1ct411a76U?p=1" target="_blank">
        <div class="sidebar-course row no-gutters">
            <div class="col-md-3">
                <img src="/img/course/mongodb.png" class="card-img" alt="mongodb">
            </div>
            <div class="col-md-9">
                <div class="sidebar-course-body">
                    <h5 class="sidebar-course-title">Mongoose-EXPRESS 课程</h5>
                    <p class="course-text"><small class="text-muted">
                        Mongoose是在Node.js异步环境下对Mongodb进行便捷操作的对象模型工具，是一个必须熟悉的nodejs 库。</small></p>
                </div>
            </div>
        </div>
    </a> <!-- /.share course #2 -->
    <a href="https://www.bilibili.com/video/av76759313?spm_id_from=333.788.b_765f64657363.3" target="_blank">
        <div class="sidebar-course row no-gutters">
            <div class="col-md-3">
                <img src="/img/course/nodejs.png" class="card-img" alt="nodejs">
            </div>
            <div class="col-md-9">
                <div class="sidebar-course-body">
                    <h5 class="sidebar-course-title">一小时学习Node.js</h5>
                    <p class="course-text"><small class="text-muted">
                       还等什么，一小时快速上手</small></p>
                </div>
            </div>
        </div>
    </a> <!-- /.share course #3 -->
</div>
<!-- <div class="card mb-3">
    <div class="card-body">
        <h4 class="sidebar-box-title">免费课程分享</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div> -->